<p id="notice"><%= notice %></p>

Question: <%= @question.description %><br>
Hint: <%= @question.help %><br><br>
Possible answers: <br>
<% @question.answers.each do |answer| %>
  <i><%= answer.description %> <br></i>
<%end%><br>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
